@font-face {
    font-family: 'Gagalin';
    src: url('{{ url_for("static", filename="Gagalin-Regular.woff2") }}') format('woff2'),
         url('{{ url_for("static", filename="Gagalin-Regular.woff") }}') format('woff'),
         url('{{ url_for("static", filename="Gagalin-Regular.ttf") }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Gagalin-Regular;
    background-color: #e4e4ed;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #e4e4ed;
    color: #5BC0DE;
}
button {
    background-color: #5BC0DE;
	font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
	color: white;
	font-family: Gagalin;
    cursor: pointer;
	transition: transform .2s;
}
button:hover {
	background-color: #4d91e8
}

main {
    display: block;
    justify-content: space-around;
    padding: 4px 5px;
}
input, select {
	height: 40%;
	width: 60%;
	border: none;
}
#signupForm {
	align-content: left;
	font-size: 24px;
}
#logo {
	cursor: pointer;
	font-size: 29px;
}
.fg {
	display: flex;
	justify-content: space-around;
	padding: 20px 10px;
	background-color: #e4e4ed;
}
.w {
	display: flex;
}

.column {
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 20%;
}
.column button:hover {
    background-color: #4d91e8;
}

center {
	font-size: 4rem;
}
@media (max-width: 426px) {
	main {
		float: center;
	}
	body {
		float: center;
	}
	.fg {
		display: block;
		float: center;
	}
	.column {
		width: 92%;
		float: center;
	}
	header {
		display: block;
		padding: 10px 10px 10px 10px;
	}
	#logo {
		font-size: 30px;
		float: center-right;
		padding: 10px 10px 10px 10px;
	}
	.auth-buttons {
		float:center;
	}
	#login {
		float:center;
	}
	#sign {
		float: center;
	}
	#signupForm {
		align-content: left;
		font-size: 20px;
	}
	center {
	font-size: 3rem;
}
}
@media (max-width: 900px) and (min-width: 426px) {
	button {
		font-size: 15px;
	}
	.column {
		width: 35%;
		height: 75%;
	}
	#logf {
		width: 50%;
		float:center-right;
	}
	#signupForm {
		align-content: left;
		font-size: 15px;
		float: center;
	}
	center {
	font-size: 3.5rem;
}
}
@media (max-width: 3000px) and (min-width: 2000px) {
	button {
		font-size: 35px;
	}
	.column {
		width: 20%;
		height: 100%;
	}
	#logf {
		width: 55%;
		float:center-right;
	}
	#signupForm {
		align-content: left;
		font-size: 35px;
		float: center;
	}
	#logo {
		font-size: 50px;
	}
	h1 {
		font-size:45px;
	}
	center {
	font-size: 4.5rem;
}
}