@font-face {
    font-family: 'Gagalin';
    src: url(Gagalin-Regular.ttf),url(Gagalin-Regular.woff),url(Gagalin-Regular.woff2);
}
@font-face {
	font-family: 'Fonte';
  	src: url('Fonte.woff2'),url('Fonte.woff'),url('Fonte.ttf');
}
@font-face {
	font-family: 'LilitaOne';
  	src: url('LilitaOne.woff2'),url('LilitaOne.woff'),url('LilitaOne.ttf');
}
body {
    font-family: Gagalin-Regular;
	background-color: #0d214e;
	margin: 0px;
}
header {
	font-family: Gagalin-Regular;
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 20px 25px;
    background-color: #0d214e;
    color: white;
}
button {
	font-family: Gagalin-Regular;
    background-color: #5BC0DE;
	font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
	color: white;
    cursor: pointer;
	transition: transform .2s;
}
button:hover {
	background-color: #4d91e8
}
.dot-loader {
      font-family: Forte;
      font-size: 1.3rem;
    }

main {
    display: block;
    justify-content: space-around;
    padding: 4px 5px;
}
input, select {
	height: 40%;
	width: 60%;
	border: none;
}
#signupForm {
	align-content: left;
	font-size: 24px;
}
#logo {
	cursor: pointer;
	font-size: 29px;
}
.fg {
	display: flex;
	justify-content: space-around;
	padding: 20px 10px;
	background-color: #0d214e;
}
.w {
	display: flex;
}

.column {
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 20%;
}
.column button:hover {
    background-color: #4d91e8;
}

#mq {
	font-size: 4rem;
}
#gts {
	font-size: 2rem;
	}
.error {
  color: red;
  font-size: 1.1em;
}

#response {
  color: white;
}

@media (max-width: 426px) {
	main {
		float: center;
	}
	body {
		float: center;
	}
	.fg {
		display: block;
		float: center;
	}
	.column {
		width: 92%;
		float: center;
	}
	header {
		display: block;
		padding: 8px 10px 8px 10px;
	}
	#logo {
		font-size: 30px;
		float: center-right;
		padding: 10px 10px 10px 10px;
	}
	.auth-buttons {
		float:center;
	}
	#login {
		float:center;
	}
	#sign {
		float: center;
	}
	#signupForm {
		align-content: left;
		font-size: 20px;
	}
	#mq {
	font-size: 2.3rem;	
	}
	#gts {
	font-size: 1.4rem;
	}
}
@media (max-width: 900px) and (min-width: 426px) {
	button {
		font-size: 15px;
	}
	.column {
		width: 35%;
		height: 75%;
	}
	#logf {
		width: 50%;
		float:center-right;
	}
	#signupForm {
		align-content: left;
		font-size: 15px;
		float: center;
	}
	#mq {
	font-size: 3.8rem;
}
	#gts {
	font-size: 2.9rem;
	}
}
@media (max-width: 3000px) and (min-width: 2000px) {
	button {
		font-size: 35px;
	}
	.column {
		width: 20%;
		height: 100%;
	}
	#logf {
		width: 55%;
		float:center-right;
	}
	#signupForm {
		align-content: left;
		font-size: 35px;
		float: center;
	}
	#logo {
		font-size: 50px;
	}
	h1 {
		font-size:45px;
	}
	#mq {
	font-size: 4rem;
}
	#gts {
	font-size: 2.6rem;
	}
}
